<launch>  
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="scale" default="1.0"/>
  
  <param name="valve_sdf" command="$(find nasa_valves)/scripts/sdf_xacro.py $(find nasa_valves)/sdf/valve_macro.sdf scale=$(arg scale)"/>
  
  <node name="spawn_valve" pkg="gazebo_ros" type="spawn_model" args="-sdf -param /valve_sdf -model valve -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" respawn="false" output="screen" />
</launch>

