<launch>
  <arg name="scale" default="1.6" />
  <include file="$(find nasa_valves)/launch/macro_valve.launch">
    <arg name="x" value="0.25"/>
    <arg name="y" value="0.5"/>
    <arg name="z" value="1.6"/>
    <arg name="pitch" value="-1.57"/>
    <arg name="yaw" value="1.57"/>
    <arg name="scale" value="$(arg scale)"/>
  </include>
</launch>
